.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 70%;
  height: 20%;
}

.App-header {
  z-index: 9999; /* set this to something high*/
  background-color: #2a0045;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 8vmin);
  color: white;
  font-family: Construction;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Construction";
  src: local("Construction"),
    url(./assets/fonts/Construction.ttf) format("truetype");
}

.social {
  width: 50%;
  margin: 0 auto;
}

.social-icon {
  border-radius: 200px;
  margin: 10px;
  height: 100%;
  width: calc(10px + 8vmin);
  cursor: pointer;
}

.under {
  height: 0px;
}
